@inherits UmbracoViewPage
@inject ISettingsService _settingsService;
@{
    var siteSettings = _settingsService.Get();
}

<nav class="secondary-nav">
    <ul>
        @foreach (var block in siteSettings.NavigationActions)
        {
            if (block?.ContentKey == null) { continue; }
            var data = block.Content;

            @await Html.PartialAsync("blocklist/Components/" + data.ContentType.Alias, block)
        }
    </ul>
</nav>
